<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stocker - Stock Market Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='web/lib/animate/animate.min.css') }}"/>
    <link href="{{ url_for('static', filename='web/lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='web/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='web/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='web/style.css') }}" rel="stylesheet">
</head>

<body>

    <!-- Topbar Start -->
    <div class="container-fluid topbar bg-light px-5 d-none d-lg-block">
        <div class="row gx-0 align-items-center">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-flex flex-wrap">
                    <a href="tel:+01234567890" class="text-muted small me-4"><i class="fas fa-phone-alt text-primary me-2"></i>+91-8447002850</a>
                    <a href="mailto:example@gmail.com" class="text-muted small me-0"><i class="fas fa-envelope text-primary me-2"></i>Hesinergy@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a href="javascript:void(0);" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0" onclick="googleSignIn()">Sign-in</a>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="#" class="navbar-brand p-0">
                <h1 class="text-primary"><i class="fas fa-search-dollar me-3"></i>Hesinergy</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="#" class="nav-item nav-link active">Home</a>
                </div>
                <a href="javascript:void(0);" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0" onclick="googleSignIn()">Login with Google</a>
            </div>
        </nav>

        <!-- Carousel Start -->
        <div class="header-carousel owl-carousel">
            <div class="header-carousel-item">
                <img src="{{ url_for('static', filename='img/carousel-1.jpg') }}" class="img-fluid w-100" alt="Image">  
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row gy-0 gx-5">
                            <div class="col-lg-0 col-xl-5"></div>
                            <div class="col-xl-7 animated fadeInLeft">
                                <div class="text-sm-center text-md-end">
                                    <h4 class="text-primary text-uppercase fw-bold mb-4">Hesinergy</h4>
                                    <h1 class="display-4 text-uppercase text-white mb-4">Empower Your Future with Sustainable Energy Investments</h1>
                                    <p class="mb-5 fs-5">At Hesinergy, we believe in a brighter, cleaner future where communities invest in the power of the sun...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-carousel-item">
                <img src="{{ url_for('static', filename='img/carousel-2.jpg') }}" class="img-fluid w-100" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-12 animated fadeInUp">
                                <div class="text-center">
                                    <h4 class="text-primary text-uppercase fw-bold mb-4">Welcome To Hesinergy</h4>
                                    <h1 class="display-4 text-uppercase text-white mb-4">Invest in a Greener Tomorrow with Hesinergy</h1>
                                    <p class="mb-5 fs-5">Discover the power of sustainable investments with Hesinergy. By joining our community, you're not only investing in renewable energy...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->
    </div>
   
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='web/lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='web/lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='web/lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='web/lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='web/lib/lightbox/js/lightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='web/lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- Firebase App (the core Firebase SDK) -->
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.20.0/firebase-app.js";
        import { getAuth, GoogleAuthProvider, signInWithPopup, onAuthStateChanged, signOut } from "https://www.gstatic.com/firebasejs/9.20.0/firebase-auth.js";
        
        const firebaseConfig = {
            apiKey: "AIzaSyADECwVMagfu4dH2XVX2uvrN9frBHCh5qg",
            authDomain: "hesinergy.firebaseapp.com",
            projectId: "hesinergy",
            storageBucket: "hesinergy.appspot.com",
            messagingSenderId: "995172757392",
            appId: "1:995172757392:web:48f772cb080ab152b84d15",
            measurementId: "G-JXR91C6W1D"
        };

        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);
        const provider = new GoogleAuthProvider();

        window.googleSignIn = function() {
            signInWithPopup(auth, provider)
                .then((result) => {
                    const user = result.user;
                    console.log('User signed in:', user);
                })
                .catch((error) => {
                    console.error('Error during Google Sign-in:', error);
                });
        };

        onAuthStateChanged(auth, (user) => {
            if (user) {
                console.log('User is signed in:', user);
            } else {
                console.log('No user is signed in');
            }
        });

        window.logout = function() {
            signOut(auth).then(() => {
                console.log('User signed out');
            });
        };
    </script>

</body>
</html>
